<div class="footer">
    <div class="footer-first-part">
        <div id="logo-img"></div>
        <p>Un peu perdu ?</p>
        <p> Suis toutes les nouvelles tendancezs sur</p>
        <p><a class="btn btn-lg" href="#" role="button">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Notre Blog
        </a></p>
    </div>
    <div class="footer-second-part">
        <ul>
            <li>Contactez-nous</li>
            <li>Aide/FAQ</li>
            <li>Mention Légales</li>
            <li><div id="fb-logo"></div></li>
            <li><div id="twitter-logo"></div></li>
        </ul>
    </div>
</div>
<template ngbModalContainer></template>
