/* ==========================================================================
Navbar
========================================================================== */
.jh-navbar {
    z-index: 1;
    height: 75px;
    background-color: #353d47;
    padding: .2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 5em;
    padding: 50px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 50px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/logo_shareIt.png") no-repeat center center;
    background-size: contain;
    width: 100%;
}

/* ==========================================================================
nav-bar styles
========================================================================== */
#navbar-account{
    position: absolute;
    right: 10px;
}

#central-navbar{
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

