<div class="jumbotron jumbotron-fluid home-img">
    <div class="center">
        <h1>La Route est tellement plus fun à plusieurs</h1>
        <h2>Trouvez-vous quelqu'un pour la route !</h2>
        <p><a class="btn btn-lg" href="#" role="button">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Trouver gratuitement
        </a></p>
    </div>
</div>
<div class="pair-block row" id="step-description">
    <div class="col-md-4">
        <h5>Remplis les champs</h5>
        <p>Eh oui, on doit passer par là !</p>
        <span class="ico-description" id="cni-img"></span>
    </div>
    <div class="col-md-4">
        <h5>Trouves ton partenaires</h5>
        <p>Ou c'est lui qui te trouveras !</p>
        <span class="ico-description" id="reseau-img"></span>
    </div>
    <div class="col-md-4">
        <h5>Appelle le</h5>
        <p>Et prévoyez vos trajets quotidiens !</p>
        <span class="ico-description" id="tel-img"></span>
    </div>
</div>
<div class="odd-block row" id="result-block">
    <div class="col-md-6">
        <h5>Paré à rouler !</h5>
        <ul>
            <li>Vous êtes mis en relation avec <strong>des particuliers proches de chez vous</strong>.</li>
            <li>Choissisez la personne avec qui vous souhaitez <strong>partager vos trajets</strong>.</li>
            <li>Notre application vous aide à trouver <strong>LE</strong> bon match</li>
        </ul>
    </div>
    <div class="col-md-6">
        <div id="result-img"></div>
    </div>
</div>
<div class="pair-block row" id="safety-block">
    <div class="col-md-6">
        <div id="safety-img"></div>
    </div>
    <div class="col-md-6">
        <h5>La sécurité d'abord</h5>
        <ul>
            <li>Des profils utilisateurs duement contrôlés.</li>
            <li>Un système de notation communautaire fiable et intuitif.</li>
            <li>Des contrôles réguliers</li>
        </ul>
    </div>
</div>
