<div>
    <h2>
        <span>Cars</span>
        <button class="btn btn-primary float-right create-car" [routerLink]="['/', { outlets: { popup: ['car-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Car
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cars">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Vin</span></th>
            <th><span>Description</span></th>
            <th><span>Color</span></th>
            <th><span>Number Of Seat</span></th>
            <th><span>Car Picture</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars ;trackBy: trackId">
                <td><a [routerLink]="['../car', car.id ]">{{car.id}}</a></td>
                <td>{{car.vin}}</td>
                <td>{{car.description}}</td>
                <td>{{car.color}}</td>
                <td>{{car.numberOfSeat}}</td>
                <td>
                    <a *ngIf="car.carPicture" (click)="openFile(car.carPictureContentType, car.carPicture)">
                        <img [src]="'data:' + car.carPictureContentType + ';base64,' + car.carPicture" style="max-height: 30px;" alt="car image"/>
                    </a>
                    <span *ngIf="car.carPicture">{{car.carPictureContentType}}, {{byteSize(car.carPicture)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../car', car.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
